.DetailPageDropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DetailPageDropdown .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 30px;
  width: 146px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  color: var(--grey-100);
  border-radius: 10px;
  background-color: var(--black-400);
  border: 1px solid var(--grey-200);
  overflow: hidden;
  z-index: 10;
}
.kebab-menu {
  background-color: inherit;
}
.dropdown-menu button {
  padding: 12px 24px;
}
.dropdown-menu .edit {
  border-bottom: 1px solid var(--grey-200);
  background-color: inherit;
}
.dropdown-menu .delete {
  border-bottom: 1px solid var(--grey-200);
  background-color: inherit;
}
.dropdown-menu .edit:hover {
  background-color: var(--grey-400);
}
.dropdown-menu .delete:hover {
  background-color: var(--grey-400);
}
