.CompanyHeader {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 18px;
  border-bottom: 1px solid var(--black-100);
  padding-bottom: 32px;
}
.company-logo {
  border-radius: 50%;
}
.name-category {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
}
.category {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
  color: var(--grey-200);
}

@media screen and (max-width: 534px) {
  .company-logo {
    content: url("../../assets/default_logo_companyDetail_small.svg");
  }

  .name {
    font-size: 20px;
    line-height: 1.19;
  }

  .category {
    font-size: 16px;
    line-height: 1.19;
  }
}
