.modal-company::backdrop {
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-company {
  width: 496px;
  margin: auto;
  padding: 24px;
  border-radius: 16px;
  background-color: var(--black-300);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-company h2,
h3 {
  color: #ffffff;
}

.modal-search-company-container {
  position: relative;
}

.modal-item-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-input {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid var(--grey-200);
}

.modal-textarea {
  width: 100%;
  height: 108px;
  padding: 12px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid var(--grey-200);
  resize: none;
}

.search-img-container {
  align-items: center;
  justify-content: space-between;
  top: 12px;
  right: 12px;
  width: 52px;
  height: 24px;
  display: flex;
  position: absolute;
  gap: 12px;
}

.search-company-reset {
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--grey-300);
}

.search-company-reset-btn {
  border-radius: 50%;
  background-color: var(--grey-300);
}

.search-company-search {
  width: 16px;
  height: 16px;
}

.item-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list-container p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
}

.select-company-modal-category {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
}

.item-content-container {
  display: flex;
  align-items: center;
}

/* .select-company-modal-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
} */

.modal-my-company-container .LogoImg {
  width: 40px;
  height: 40px;
}

.select-company-modal-name {
  margin-left: 16px;
  color: #ffffff;
}

.select-company-modal-categories {
  margin-left: 8px;
  display: flex;
  gap: 5px;
  color: var(--grey-200);
}

.select-company-modal-btn {
  width: 104px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--orange);
  background-color: var(--black-300);
  color: var(--orange);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
}

.selected-company-modal-btn {
  display: flex;
  align-items: center;
  width: 104px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--grey-100);
  background-color: var(--black-300);
  color: var(--grey-100);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  padding: 12px 11px;
}

.delete-company-modal-btn {
  width: 104px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--grey-200);
  background-color: var(--black-300);
  color: var(--grey-200);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
}

.select-company-modal-btn:hover {
  border: 1px solid var(--grey-100);
  color: var(--grey-100);
}

.modal-btn-container {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.modal-complete-btn {
  border-radius: 50px;
  width: 183px;
  height: 48px;
  align-self: center;
}

.modal-complete-btn-disabled {
  background-color: var(--black-300);
  border: 1px solid var(--grey-200);
  border-radius: 50px;
  width: 183px;
  height: 48px;
  align-self: center;
}

.modal-close-btn {
  border-radius: 50px;
  width: 183px;
  height: 48px;
  align-self: center;
  color: var(--orange);
  border: 1px solid var(--orange);
  background-color: var(--black-300);
}

.modal-my-company-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-label-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #ffffff;
}

.modal-password-visible {
  position: absolute;
  background-color: var(--black-300);
  bottom: 12px;
  right: 20px;
  width: 24px;
  height: 24px;
}

/*----for DeleteConfirmModal----*/

.DeleteConfirmModal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.DeleteConfirmModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  padding: 24px;
  background-color: var(--black-300);
  border-radius: 16px;
  width: 93.5%;
  max-width: 496px;
}
.DeleteConfirmModal .deleteModal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
}
.DeleteConfirmModal .cancel-button {
  cursor: pointer;
}
.DeleteConfirmModal .deleteModal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.DeleteConfirmModal label {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  margin-bottom: 16px;
  color: #fff;
}

.DeleteConfirmModal .input-container {
  position: relative;
  width: 100%;
}
.DeleteConfirmModal input {
  border: 1px solid var(--grey-200);
  border-radius: 10px;
  width: inherit;
  padding: 16px 20px;
  margin-bottom: 32px;
  color: #fff;
}
.DeleteConfirmModal .password-visibility {
  position: absolute;
  top: 14px;
  right: 20px;
  cursor: pointer;
}
.DeleteConfirmModal .delete-btn {
  margin: auto;
  background-color: var(--orange);
  padding: 13px 48px;
  border-radius: 50px;
}

/*----for UpdateConfirmModal----*/

.UpdateConfirmModal::backdrop {
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

.UpdateConfirmModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  padding: 24px;
  background-color: var(--black-300);
  border-radius: 16px;
  width: 93.5%;
  max-width: 496px;
}
.UpdateConfirmModal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
}
.cancel-button {
  cursor: pointer;
}
.UpdateConfirmModal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.UpdateConfirmModal-body label {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  margin-bottom: 16px;
  color: #fff;
}

.UpdateConfirmModal-body .input-container {
  position: relative;
  width: 100%;
}
.UpdateConfirmModal-body input {
  border: 1px solid var(--grey-200);
  border-radius: 10px;
  width: inherit;
  padding: 16px 20px;
  margin-bottom: 32px;
  color: #fff;
}
.password-visibility {
  position: absolute;
  top: 14px;
  right: 20px;
  cursor: pointer;
}
.next-btn {
  margin: auto;
  background-color: var(--orange);
  padding: 13px 48px;
  border-radius: 50px;
}

/*----for UpdateModal----*/
.UpdateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  padding: 24px;
  background-color: var(--black-300);
  border-radius: 16px;
  width: 93.5%;
  max-width: 496px;
}

.updateModal-head {
  margin-bottom: 24px;
}
.head-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.19;
}

.updateModal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.19;
}
.updateModal-body label {
  margin-bottom: 16px;
  border-radius: 10px;
  color: #fff;
}
.updateModal-body input {
  margin-bottom: 24px;
  padding: 16px 20px;
  border: 1px solid var(--grey-200);
  width: 100%;
  border-radius: 10px;
  color: #fff;
}
.updateModal-body textarea {
  width: 100%;
  height: 108px;
  resize: none;
  padding: 16px 20px;
  border: 1px solid var(--grey-200);
  border-radius: 10px;
  margin-bottom: 24px;
  color: #fff;
}
.body-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.button-update {
  padding: 13px 48px;
  border-radius: 50px;
  font-weight: 600;
  background-color: var(--orange);
  font-size: 18px;
  line-height: 1.19;
  width: 183px;
}
.input-active {
  color: #fff;
}
.input-filled {
  color: var(--grey-200) !important;
}
