.CompanyInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.CompanyInfo .info {
  display: flex;
  gap: 24px;
}
.info div {
  padding: 36px 24px;
  background-color: #282828;
  width: 33%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description {
  width: 100%;
  background-color: #212121;
  padding: 24px;
  border-radius: 10px;
}
.description h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  color: #ffffff;
}
.description span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  color: #d8d8d8;
}

@media screen and (max-width: 743px) {
  .info div {
    flex-direction: column;
  }
}
