.Comparison {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Comparison .head-container button {
  display: flex;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
}
.Comparison .head-container button img {
  width: 24px;
  height: auto;
}

.Comparison .head-container .reset-btn {
  gap: 4px;
}

.out-container {
  height: auto;
  min-height: 300px;
  margin-top: 16px;
  padding: 16px;
  border: 1px dashed var(--black-300);
  border-radius: 4px;
}

.items-container {
  position: relative;
  background-color: var(--black-300);
  border-radius: 4px;
  min-height: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px;
}

.no-selected-comparison {
  color: var(--grey-200);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.Comparison .cancel-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1rem;
  text-decoration: underline;
  color: var(--grey-100);
  font-weight: 400;
  text-underline-offset: 2px;
}

.Comparison .add-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: var(--18px);
}

.Comparison .add-company-btn {
  width: 48px;
  height: 48px;
  background-color: var(--grey-100);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Comparison .bottom-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.Comparison .bottom-btn-container button {
  width: 183px;
  height: 48px;
  padding: 13px 48px;
  border-radius: 50px;
}
.Comparison .bottom-btn-container .disable-comparison-btn {
  background-color: var(--black-300);
  color: var(--grey-200);
}

/* 비교할 기업 정보 카드 */
.CompanyItem {
  width: 126px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.CompanyItem-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.CompanyItem-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
}

.CompanyItem-categories {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: var(--grey-200);
}

.ComparisonItem {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-400);
  width: 126px;
  height: 187px;
  border-radius: 8px;
}

.ComparisonItem .LogoImg {
  margin-top: 12px;
}

.ComparisonItem-delete {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
}

.ComparisonItem-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.ComparisonItem-categories {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-200);
}

.ellipsis {
  text-align: center;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* tablet size */
@media only screen and (max-width: 743px) {
  .Comparison .head-container button {
    font-size: var(--14px);
    padding: 4px 12px;
  }

  .Comparison .LogoImg.large {
    width: 65px;
    height: 65px;
    font-size: 1.2em;
  }

  .Comparison .add-company {
    font-size: var(--14px);
  }

  .Comparison .cancel-btn {
    font-size: var(--12px);
  }

  .ComparisonItem {
    width: 104px;
    height: 163px;
  }

  .ComparisonItem-name {
    font-size: var(--14px);
  }

  .ComparisonItem-categories {
    font-size: var(--12px);
  }
}
