.Table {
  font-size: var(--14px);
  border-collapse: collapse;
  width: clamp(696px, 100%, 1200px);
  border-radius: 4px;
  overflow: hidden;
  border-spacing: 0;
  table-layout: auto;
  margin-top: 16px;
}

.Table,
.Table th,
.Table td {
  border: none;
}

.Table thead {
  background-color: var(--black-100);
  font-weight: 500;
}

.Table thead::after {
  content: ".";
  display: block;
  background-color: var(--black-400);
  color: var(--black-400);
}

.Table thead tr th:first-child {
  border-bottom-left-radius: 4px;
}

.Table thead tr th:last-child {
  border-bottom-right-radius: 4px;
}

.Table tbody tr:first-child td:first-child {
  border-top-left-radius: 4px;
}

.Table tbody tr:first-child td:last-child {
  border-top-right-radius: 4px;
}

.Table tbody {
  background-color: var(--black-300);
  color: var(--grey-100);
}

.Table th {
  padding: 11px;
  white-space: nowrap;
}

/*table 고정 콜럼 3개 순위, 기업명, 기업설명 너비 관리*/
.Table thead .field-company-name {
  width: clamp(150px, 100%, 213px);
}

.Table thead .field-company-description {
  width: clamp(180px, 100%, 304px);
}

.Table thead .field-rank {
  width: 68px;
}

@media only screen and (max-width: 1199px) {
  .Table thead th.field-rank,
  .Table tbody td.field-rank {
    display: none;
  }
}
@media only screen and (max-width: 743px) {
  .Table {
    font-size: var(--13px);
  }
  .table-container {
    overflow-x: scroll;
  }
}
