tbody .TableRow:not(:last-child) {
  border-bottom: 1px solid var(--grey-300);
}

.TableRow td {
  text-align: center;
  vertical-align: middle;
}

.TableRow .company-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.TableRow .company-name span {
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.TableRow .company-name .circle-crop {
  min-width: 32px;
  height: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.TableRow .company-name img {
  width: 100%;
}

.TableRow .description {
  width: 100%;
}

.TableRow td {
  padding: 15px;
}

.TableRow .description span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
}
